* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  justify-content: center;
  display: flex;
  background: #fff;
  z-index: 1;
}

.header-logo-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.logo-area {
  width: 200px;
  margin: 0;
  text-align: left;
}

.gnav-hidden {
  display: none;
}

#gnav-btn {
  display: block;
  width: 40px;
  height: 40px;
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 100;
  background: #fff url("../img/ico-nav.svg") center center no-repeat;
}

#gnav-input:checked ~ #gnav-btn {
  background: #fff url("../img/ico-nav-close.svg") center center no-repeat;
}

#gnav-content {
  position: fixed;
  top: 0;
  right: -100%;
  z-index: 100;
  width: 100%;
  max-width: 300px;
  height: 100%;
  background-color: #fff;
  transition: 0.3s;
  transform: translateX(-105%);
}

#gnav-input:checked ~ #gnav-content {
  right: 0;
}

.gnav-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
  text-transform: uppercase;
  list-style: none;
}



.gnav-item a {
  color: black;
  font-size: 12px;
  display: block;
  width: 200px;
  text-align: center;
  text-decoration: none;
  padding-bottom: 15px;

}
.gnav-item a::first-line {
  font-size: 16px;
  font-weight: normal;
}

@media screen and (min-width: 768px) {
  .header {
    justify-content: start;
  }
}

@media screen and (min-width: 768px) {
  .pc-only {
    position: fixed;
    top: 0;
    left: 0;
    width: 200px;
    height: 100%;
    background-color: #fff;
    margin-top: 50px;
  }

  .gnav-menu {
    list-style: none;
  }

  .gnav-item {
    border-bottom: none;
    margin: 0;
    padding-bottom: 0;
  }

  .gnav-item a {
    color: #333;
    width: 120px;
    text-align: start;
  }
}

/* mv */
.mv-visual {
  background-image: url(../img/mv-bg@2x.jpg);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  span{
    display: block;
  }

  img {
    width: 50%;
    height: auto;
  }
}


#backnumbers {
  background-color: #f8f8f8;

  .bn-title {
    font-size: 20px;
    font-weight: normal;
  }

  img {
    width: 50%;
    display: block;
    margin: auto;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  }
  .bn-li-title {
    padding: 30px;
  }

  span {
    display: block;
  }

  .date,
  .nom {
    font-size: 12px;
    margin-bottom: 5px;
  }
  .title {
    font-size: 20px;
  }
}

.bn-title {
  padding: 20px;
}

.bn-no-101 {
  background-color: #ecf4f9;
  padding-top: 30px;
}

.bn-no-100 {
  background-color: #fbf3d2;
  padding-top: 30px;
}

.bn-no-99 {
  background-color: #f9f2eb;
  padding-top: 30px;
}

.bn-no-98 {
  background-color: #fae8c2;
  padding-top: 30px;
}

.bn-no-97 {
  background-color: #e2efe7;
  padding-top: 30px;
}

.bn-no-96 {
  background-color: #f2f5fb;
  padding-top: 30px;
}

@media screen and (min-width: 768px) {
  .bn-list {
    list-style: none;
    display: grid;
    grid-template-columns: auto auto;
  }
}
